@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --elements-dark-mode: hsl(209, 23%, 22%);
  --bg-dark-mode: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);

  --elements-light-mode: hsl(0, 0%, 52%);
  --bg-light-mode: hsl(0, 0%, 98%);
  --text-color: hsl(0, 0%, 100%)
}

body {
  background-color: var(--bg-dark-mode);
  color: var(--text-color);
}
